@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.mask-fade-top {
  mask-image: linear-gradient(to top, black 80%, transparent 100%);
}


